:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.custom-background {
  background-color: #202020;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vh;
}

.navbar-background {
  background-color: #282828;
}

.nav-link {
  margin-right: 25px; /* Sekmeler arasındaki boşluğu artırır */
}

.sign-in-button {
  width: 320px;
  background-color: #c2a061; 
  border: none; 
  color: white; 
  padding: 10px 0; 
  font-size: 16px; 
  text-align: center; 
  border-radius: 10px;
}

.search-bar {
  background-color: #444444 !important;
  color: #c5c5c5 !important; 
  border: 1px solid #c2a061 !important;
  border-left: none !important;
}

.search-bar:focus {
  box-shadow: none !important;
}

.search-icon {
  color: white !important;
  background-color: #444444 !important; 
  padding: 5px; 
  border-radius: 50%; 
  border: 1px solid #c2a061 !important;
  border-right: none;
}

/* Filtreleme kutusunun konumu ve stili*/
.filter-container {
  position: fixed;
  top: 100px; 
  left: 12px;
  width: 330px; 
  height: 80%;
  padding: 10px;
  background-color: #282828;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 100; 
  padding: 20px;
}

/* Fiyat belirleme kutucuklarının arka plan rengini değiştirme */

.price-range label {
  color: #ffffff; /* Beyaz renk */
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 20px;
}

.price-range input[type="number"] {
  background-color: #444444; /* Arka plan rengini buradan değiştirebilirsiniz */
  border: 1px solid;    /* Kenarlık rengi */
  border-color: #c2a061;
  border-radius: 5px;        /* Köşe yuvarlama */
  padding: 10px;             /* İç boşluk */
  font-size: 16px;           /* Yazı boyutu */
  color: white;
}

.price-range input[type="number"]:focus {
  background-color: hsl(0, 0%, 39%); /* Fokusa girildiğinde arka plan rengini değiştirme */
  border-color: hsl(0, 0%, 39%);     /* Fokusa girildiğinde kenarlık rengini değiştirme */
  box-shadow: none;
}


/* Uygula butonunu özelleştirmek */
.btn-apply {
  background-color: #444444; /* Butonun arka plan rengi */
  border: 1px solid;
  border-color: #c2a061;     /* Butonun kenarlık rengi */
  color: white;              /* Butonun yazı rengi (beyaz) */
  padding: 10px 20px;        /* İç boşluk (üst-alt, sağ-sol) */
  font-size: 16px;           /* Yazı boyutu */
  font-weight: bold;         /* Yazı kalınlığı */
  border-radius: 5px;        /* Köşe yuvarlama */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Geçiş efektleri */
  margin-top: 30px;
}

/* Butona hover (fare ile üzerine gelindiğinde) efekti eklemek */
.btn-apply:hover {
  background-color: #444444(0, 0%, 41%); /* Hover durumunda arka plan rengini koyulaştır */
  border-color: #c2a061;     /* Hover durumunda kenarlık rengini koyulaştır */
  transform: scale(1.05);     /* Hover durumunda butonu biraz büyüt */
}



/* Kartlar */
.card-items {
  background-color: #282828;
  cursor: pointer;
  transition: transform 0.2s ease;
  border-radius: 10px;
  width: 100%;
  margin-right: 55px; 
}

.card-items .card-img-top {
  width: 100%;
  height: auto; 
}
.card-items:hover {
  transform: scale(1.05);
  background-color: #3a3a3a;
}

.card-items .card-body h5 {
  padding-left: 10px;
  color: #ffffff; 
  font-size: 0.9rem; 
  font-weight: 100;
}

.card-items .card-body p {
  color: #ffffff;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 400;
}
